/*
!start.sh
!.gitignore
!.gitlab-ci.yml
!tf
tf/*
!tf/cfg
!tf/addons
!tf/custom
tf/addons/*/scripting/**/*.smx

tf/cfg/*
!tf/cfg/base.cfg
!tf/cfg/stv.cfg
!tf/cfg/servers
!tf/cfg/sourcemod
!tf/cfg/pure_server_*
!tf/cfg/trusted_keys_base.txt
!tf/cfg/motd_html.txt
!tf/cfg/motd_text.txt
!tf/cfg/custom_whitelist_*
!tf/cfg/itemtest.cfg
tf/addons/*/data/sqlite/clientprefs-sqlite.sq3
tf/addons/*/data/_*.data
tf/addons/*/configs/sourcebans/sb_admins.cfg
tf/addons/*/configs/sourcebans/sb_admin_groups.cfg
tf/addons/*/configs/sourcebans/sourcebans.cfg
tf/addons/*/backup/*
tf/addons/*/configs/sourceirc*
!tf/addons/sourcemod/scripting/
!tf/addons/sourcemod/plugins/*
!tf/addons/sourcemod/plugins/**/*
!tf/maps
!tf/maps/*
tf/maps/graphs

# ignore stock maps that we use

tf/maps/cp_freight_final1.bsp
tf/maps/cp_metalworks.bsp
tf/maps/cp_snakewater_final1.bsp
tf/maps/cp_sunshine.bsp
tf/maps/itemtest.bsp
tf/maps/koth_harvest_final.bsp
tf/maps/mvm_bigrock.bsp
tf/maps/mvm_coaltown.bsp
tf/maps/mvm_decoy.bsp
tf/maps/mvm_mannhattan.bsp
tf/maps/mvm_mannworks.bsp
tf/maps/mvm_rottenburg.bsp
