/*
!start.sh
!.gitignore
!.gitlab-ci.yml
!tf
tf/*
!tf/cfg
!tf/addons
!tf/custom
tf/addons/*/scripting/**/*.smx

tf/cfg/*
!tf/cfg/base.cfg
!tf/cfg/stv.cfg
!tf/cfg/servers
!tf/cfg/sourcemod
!tf/cfg/pure_server_whitelist.txt

tf/addons/*/data/sqlite/clientprefs-sqlite.sq3
tf/addons/*/data/_*.data
tf/addons/*/configs/sourcebans/sb_admins.cfg
tf/addons/*/configs/sourcebans/sb_admin_groups.cfg
tf/addons/*/configs/sourcebans/sourcebans.cfg
tf/addons/*/backup/*
!tf/addons/sourcemod/scripting/
!tf/addons/sourcemod/plugins/*
!tf/addons/sourcemod/plugins/**/*
!tf/maps
!tf/maps/*
tf/maps/graphs

# ignore stock maps

tf/maps/arena_badlands.bsp
tf/maps/arena_byre.bsp
tf/maps/arena_granary.bsp
tf/maps/arena_lumberyard.bsp
tf/maps/arena_nucleus.bsp
tf/maps/arena_offblast_final.bsp
tf/maps/arena_ravine.bsp
tf/maps/arena_sawmill.bsp
tf/maps/arena_watchtower.bsp
tf/maps/arena_well.bsp
tf/maps/background01.bsp
tf/maps/cp_5gorge.bsp
tf/maps/cp_badlands.bsp
tf/maps/cp_cloak.bsp
tf/maps/cp_coldfront.bsp
tf/maps/cp_degrootkeep.bsp
tf/maps/cp_dustbowl.bsp
tf/maps/cp_egypt_final.bsp
tf/maps/cp_fastlane.bsp
tf/maps/cp_foundry.bsp
tf/maps/cp_freight_final1.bsp
tf/maps/cp_gorge.bsp
tf/maps/cp_gorge_event.bsp
tf/maps/cp_granary.bsp
tf/maps/cp_gravelpit.bsp
tf/maps/cp_gullywash_final1.bsp
tf/maps/cp_junction_final.bsp
tf/maps/cp_manor_event.bsp
tf/maps/cp_mercenarypark.bsp
tf/maps/cp_metalworks.bsp
tf/maps/cp_mossrock.bsp
tf/maps/cp_mountainlab.bsp
tf/maps/cp_powerhouse.bsp
tf/maps/cp_process_final.bsp
tf/maps/cp_snakewater_final1.bsp
tf/maps/cp_snowplow.bsp
tf/maps/cp_standin_final.bsp
tf/maps/cp_steel.bsp
tf/maps/cp_sunshine.bsp
tf/maps/cp_sunshine_event.bsp
tf/maps/cp_vanguard.bsp
tf/maps/cp_well.bsp
tf/maps/cp_yukon_final.bsp
tf/maps/ctf_2fort.bsp
tf/maps/ctf_2fort_invasion.bsp
tf/maps/ctf_doublecross.bsp
tf/maps/ctf_foundry.bsp
tf/maps/ctf_gorge.bsp
tf/maps/ctf_hellfire.bsp
tf/maps/ctf_landfall.bsp
tf/maps/ctf_sawmill.bsp
tf/maps/ctf_thundermountain.bsp
tf/maps/ctf_turbine.bsp
tf/maps/ctf_well.bsp
tf/maps/itemtest.bsp
tf/maps/koth_badlands.bsp
tf/maps/koth_bagel_event.bsp
tf/maps/koth_brazil.bsp
tf/maps/koth_harvest_event.bsp
tf/maps/koth_harvest_final.bsp
tf/maps/koth_highpass.bsp
tf/maps/koth_king.bsp
tf/maps/koth_lakeside_event.bsp
tf/maps/koth_lakeside_final.bsp
tf/maps/koth_lazarus.bsp
tf/maps/koth_maple_ridge_event.bsp
tf/maps/koth_moonshine_event.bsp
tf/maps/koth_nucleus.bsp
tf/maps/koth_probed.bsp
tf/maps/koth_sawmill.bsp
tf/maps/koth_slasher.bsp
tf/maps/koth_slaughter_event.bsp
tf/maps/koth_suijin.bsp
tf/maps/koth_viaduct.bsp
tf/maps/koth_viaduct_event.bsp
tf/maps/mvm_bigrock.bsp
tf/maps/mvm_coaltown.bsp
tf/maps/mvm_decoy.bsp
tf/maps/mvm_ghost_town.bsp
tf/maps/mvm_mannhattan.bsp
tf/maps/mvm_mannworks.bsp
tf/maps/mvm_rottenburg.bsp
tf/maps/pass_brickyard.bsp
tf/maps/pass_district.bsp
tf/maps/pass_timbertown.bsp
tf/maps/pd_cursed_cove_event.bsp
tf/maps/pd_monster_bash.bsp
tf/maps/pd_pit_of_death_event.bsp
tf/maps/pd_watergate.bsp
tf/maps/plr_bananabay.bsp
tf/maps/plr_hightower.bsp
tf/maps/plr_hightower_event.bsp
tf/maps/plr_nightfall_final.bsp
tf/maps/plr_pipeline.bsp
tf/maps/pl_badwater.bsp
tf/maps/pl_barnblitz.bsp
tf/maps/pl_borneo.bsp
tf/maps/pl_cactuscanyon.bsp
tf/maps/pl_enclosure_final.bsp
tf/maps/pl_fifthcurve_event.bsp
tf/maps/pl_frontier_final.bsp
tf/maps/pl_goldrush.bsp
tf/maps/pl_hoodoo_final.bsp
tf/maps/pl_millstone_event.bsp
tf/maps/pl_precipice_event_final.bsp
tf/maps/pl_rumble_event.bsp
tf/maps/pl_snowycoast.bsp
tf/maps/pl_swiftwater_final1.bsp
tf/maps/pl_thundermountain.bsp
tf/maps/pl_upward.bsp
tf/maps/rd_asteroid.bsp
tf/maps/sd_doomsday.bsp
tf/maps/sd_doomsday_event.bsp
tf/maps/tc_hydro.bsp
tf/maps/tr_dustbowl.bsp
tf/maps/tr_target.bsp
tf/maps/koth_megalo.bsp
tf/maps/koth_undergrove_event.bsp
tf/maps/pl_bloodwater.bsp
tf/maps/pl_hasslecastle.bsp
tf/maps/ctf_snowfall_final.bsp
tf/maps/pd_snowville_event.bsp
tf/maps/pl_pier.bsp
tf/maps/pl_wutville_event.bsp

