arena_lumberyard.bsp
cp_5gorge.bsp
cp_fastlane.bsp
cp_freight_final1.bsp
cp_gorge.bsp
cp_granary.bsp
cp_mercenarypark.bsp
cp_metalworks.bsp
cp_mossrock.bsp
cp_mountainlab.bsp
cp_powerhouse.bsp
cp_snakewater_final1.bsp
cp_sunshine.bsp
ctf_landfall.bsp
koth_cascade.bsp
koth_harvest_final.bsp
koth_highpass.bsp
koth_king.bsp
koth_lazarus.bsp
mvm_coaltown.bsp
mvm_decoy.bsp
mvm_mannhattan.bsp
mvm_mannworks.bsp
mvm_rottenburg.bsp
pl_borneo.bsp
pl_cactuscanyon.bsp
pl_enclosure_final.bsp
pl_frontier_final.bsp
pl_pier.bsp
pl_swiftwater_final1.bsp
pl_upward.bsp
# needed 4 custom skyboxes
koth_viaduct
koth_slasher
